.about-app {
}

.about-app .app-title {
	margin: 4rem auto 2rem;
	padding: 0 6rem;
	max-width: 120rem;
}

.about-app .about-info {
	margin: 0 auto;
	max-width: calc(60rem + 6rem * 2);
	padding: 1rem 6rem 6rem;
}

.about-app .pictures {
	list-style: none;
	padding: 0;
}

.about-app .pictures img {
	border: 0.1rem solid rgb(200, 200, 200);
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.about-app p {
	margin: 0 0 2rem;
}

.about-app p a {
	color: rgb(155, 77, 202);
	font-weight: bold;
	text-decoration: none;
}

.about-app p a:hover {
	text-decoration: underline;
}
