.app-title {
	color: rgb(112, 112, 112);
	font-weight: 300;
	letter-spacing: 0.8rem;
	padding-left: 0.5rem; /* Minor centering issue due to letter spacing */
	text-align: center;
	text-transform: uppercase;
}