.contact-app {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.contact-app .app-title {
	margin: 4rem auto 2rem;
	padding: 0 6rem;
	max-width: 120rem;
}

.contact-app form {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	max-width: calc(60rem + 6rem * 2);
	padding: 1rem 6rem 6rem;
	margin: 0 auto;
}

.contact-app .form-group {
	margin: 0 0 2rem 0;
	flex: 0;
	color: rgb(64, 64, 64);
}

.contact-app .form-group label {
	display: block;
	margin: 0 0 0.5rem 0;
}

.contact-app input, textarea {
	color: rgb(64, 64, 64);
	display: block;
	font-size: 1.6rem;
	outline-color: rgb(155, 77, 202);
	padding: 0.4rem;
	width: 100%;
}

.contact-app textarea {
	flex: 1;
	min-height: 6.8rem;
}

.contact-app textarea {
	resize: none;
}

.contact-app .form-group.grow-vert {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.contact-app .submit-group {
	display: flex;
}

.contact-app .submit-group label {
	display: block;
	flex: 1 1 20.0rem;
}

.contact-app .submit-group label.failure {
	color: rgb(211, 0, 0);
}

.contact-app .submit-group label.success {
	color: green;
}

.contact-app .submit-group button {
	display: block;
	flex: 0 1 10.0rem;
	max-width: 10.0rem;
	min-width: 6.0rem;
	color: rgb(64, 64, 64);
	outline-color: rgb(155, 77, 202);
}
