*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /* So 1.6rem = 16px */
}

body {
	background-color: rgb(220, 220, 220);
	color: rgb(64, 64, 64);
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato';
}


/**
 * HEADER
 */
body > header {
	position: relative;
	padding: 2.0rem;
}
body > header h1 {
	color: rgb(92, 92, 92);
	font-size: 2.4rem;
	letter-spacing: 0.02rem;
	margin: 0;
}
body > header button {
	position: absolute;
	top: 2.0rem;
	right: 2.0rem;
	bottom: 2.0rem;
	padding: 0;
	width: 3.6rem;
	height: 3.6rem;
	font-size: 2.4rem;
}

@media (min-width: 600px) {
	body > header {
		padding: 1.0rem;
	}
	body > header h1 {
		color: rgb(176, 176, 176);
		font-size: 1.6rem;
		text-align: center;
	}
	body > header button {
		display: none;
	}
}


/**
 * INTRO
 */
.intro-section {
	padding: 2.0rem;
}

@media (min-width: 800px) {
	.intro-section {
		padding: 4.0rem 2.0rem;
		float: left;
		max-width: 50%;
	}
	.intro-section > h1 {
		font-size: 4.8rem;
	}
	.intro-section > p {
		font-size: 2.0rem;
	}
}

@media (min-width: 1200px) {
	.intro-section {
		padding: 4.0rem;
	}
	.intro-section > h1 {
		font-size: 6.4rem;
	}
	.intro-section > p {
		font-size: 2.4rem;
	}
}
