html, body {
	height: 100%;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /* So 1.6rem = 16px */
	font-family: sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
	line-height: 1.6;
	overflow: hidden;
}

.taskbar {
	background-color: rgb(35, 35, 35);
	color: white;
	display: flex;
	flex: none;
	height: 3.2rem;
	padding: 0 1.0rem 0 1.0rem;
	z-index: 1;
}

.taskbar button {
	background-color: transparent;
	border: none;
	color: white;
	height: 100%;
	padding: 0 1.0rem 0 1.0rem;
}

.taskbar button:focus {
	outline: none;
}

.taskbar button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.taskbar .separator {
	background-color: rgb(48, 48, 48);
	height: 2.4rem;
	margin: 0.4rem 1.0rem 0 1.0rem;
	width: 0.2rem;
}

.apps-list-button, .clock-button {
	flex: none;
}

.cards {
	display: flex;
	flex: 1 1 auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.card {
	display: block;
	width: 100%;
	max-width: 18.0rem;
}

.card > button {
	color: rgb(196, 196, 196);
	display: block;
	height: 100%;
	text-align: left;
	width: 100%;
}

.card.active-card button {
	color: white;
}

.card.closed-card button:before {
	content: '[';
}
.card.closed-card button:after {
	content: ']';
}

.apps-list {
	background-color: rgb(48, 48, 48);
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0.5rem 0 0.5rem 0;
	position: absolute;
	top: 3.2rem;
	width: 24.0rem;
}

.apps-list > li {
	display: block;
	height: 3.2rem;
}

.apps-list > li > button {
	display: block;
	padding: 0 1.0rem 0 2.0rem;
	text-align: left;
	width: 100%;
}

.desktop {
	background-attachment: fixed;
	background-image: url(http://www.powerpointhintergrund.com/uploads/2017/08/background-pictures-images-and-stock-photos-istock-11.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 1 1 auto;
	position: relative;
	z-index: 0;
}

.window {
	box-shadow: 0 0 4.3rem rgba(0, 0, 0, 0.5);
	border-radius: 0.7rem;
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 0;
}

.window .title-bar {
	box-sizing: border-box;
	background-color: rgb(35, 35, 35);
	border: 0.1rem solid rgb(96, 96, 96);
	border-radius: 0.7rem 0.7rem 0 0;
	flex: 0 0 auto;
	height: 3.2rem;
	width: 100%;
	z-index: 1;
}

.window .title {
	color: white;
	cursor: default;
	line-height: 3.2rem;
	text-align: center;
}

.control-buttons {
	align-items: center;
	margin-right: 0.7rem;
	display: flex;
	height: 3.2rem;
	position: absolute;
	right: 0;
	top: 0;
}

.control-button {
	box-sizing: border-box;
	background-color: rgb(112, 112, 112);
	border: 0.1rem solid rgb(148, 148, 148);
	border-radius: 0.65rem;
	padding: 0;
	margin-right: 0.8rem;
	width: 1.3rem;
	height: 1.3rem;
}

.minimize-button {
	background-color: rgb(76, 175, 80);
	border-color: rgb(56, 142, 60);
}

.maximize-button {
	background-color: rgb(255, 235, 59);
	border-color: rgb(253, 216, 53);
}

.close-button {
	background-color: rgb(229, 57, 53);
	border-color: rgb(198, 40, 40);
}

.window .content-area {
	box-sizing: border-box;
	background-color: white;
	border: 0.1rem solid rgb(128, 128, 128);
	border-radius: 0 0 0.7rem 0.7rem;
	border-top: none;
	flex: 1 1 auto;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.maximized .title-bar,
.maximized .content-area {
	border: none;
	border-radius: 0;
}

.resize-handle-n,
.resize-handle-e,
.resize-handle-s,
.resize-handle-w,
.resize-handle-ne,
.resize-handle-se,
.resize-handle-sw,
.resize-handle-nw {
	position: absolute;
	z-index: 2;
}

.resize-handle-n {
	cursor: ns-resize;
	height: 0.8rem;
	left: 0;
	top: 0;
	width: 100%;
}

.resize-handle-e {
	cursor: ew-resize;
	height: 100%;
	right: 0;
	top: 0;
	width: 0.8rem;
}

.resize-handle-s {
	bottom: 0;
	cursor: ns-resize;
	height: 0.8rem;
	left: 0;
	width: 100%;
}

.resize-handle-w {
	cursor: ew-resize;
	height: 100%;
	left: 0;
	top: 0;
	width: 0.8rem;
}

.resize-handle-ne {
	cursor: nesw-resize;
	height: 0.8rem;
	right: 0;
	top: 0;
	width: 0.8rem;
}

.resize-handle-se {
	bottom: 0;
	cursor: nwse-resize;
	height: 0.8rem;
	right: 0;
	width: 0.8rem;
}

.resize-handle-sw {
	bottom: 0;
	cursor: nesw-resize;
	height: 0.8rem;
	left: 0;
	width: 0.8rem;
}

.resize-handle-nw {
	cursor: nwse-resize;
	height: 0.8rem;
	left: 0;
	top: 0;
	width: 0.8rem;
}