html, body {
	height: 100%;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /* So 1.6rem = 16px */
}

body {
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
	line-height: 1.6;
	overflow: hidden;
}

.taskbar {
	background-color: rgb(35, 35, 35);
	color: white;
	display: flex;
	flex: none;
	height: 3.2rem;
	padding: 0 1.0rem 0 1.0rem;
}

.taskbar button {
	background-color: transparent;
	border: none;
	color: white;
	height: 100%;
	padding: 0 1.0rem 0 1.0rem;
}

.taskbar button:focus {
	outline: none;
}

.taskbar button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.apps-list-button, .clock-button {
	flex: none;
}

.open-apps-list {
	flex: 1 1 auto;
}

.apps-list {
	background-color: rgb(48, 48, 48);
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0.5rem 0 0.5rem 0;
	position: absolute;
	top: 3.2rem;
	width: 24.0rem;
}

.apps-list > li {
	display: block;
	height: 3.2rem;
}

.apps-list > li > button {
	display: block;
	padding: 0 1.0rem 0 2.0rem;
	text-align: left;
	width: 100%;
}

.desktop {
	background-attachment: fixed;
	background-image: url(http://www.powerpointhintergrund.com/uploads/2017/08/background-pictures-images-and-stock-photos-istock-11.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 1 1 auto;
}