.projects-app {
	overflow: auto;
}

.projects-app .app-title {
	margin: 4.0rem auto;
	padding: 0 5.0rem;
	max-width: 120.0rem;
}

.projects-app .project-tiles-wrapper {
	padding: 2rem 6rem 6rem;
	/*padding: 0 5.0rem 3.0rem;*/
	max-width: 120rem;
	margin: 0 auto;
}

.projects-app .project-tiles {
	display: grid;
	grid-gap: 4.0rem;
	list-style-type: none;
	margin: 0;
	padding: 0 0 2.0rem 0;

	/* This will be overwritten by JavaScript, we're just providing a default */
	grid-template-columns: 1fr 1fr 1fr;
}

.projects-app .project-tile {
	background-color: transparent;
	border: none;
	background: white;
	color: #323232;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	font-family: 'Open Sans';
	padding: 0;
	margin: 0 auto;
	max-width: 35.0rem;
	width: 100%;
}

.projects-app .project-tile:focus {
	outline: none;
}

.projects-app .project-tile .cover-wrapper {
	box-shadow: 0 0.2rem 1.0rem rgba(0, 0, 0, 0.1);
	padding: 1.0rem;
	transition: all 0.15s ease;
}

.projects-app .project-tile:hover .cover-wrapper {
	box-shadow: 0 0.2rem 1.0rem 0.4rem rgba(0, 0, 0, 0.1);
}

.projects-app .project-tile .cover {
	width: 100%;
	display: block;
}

.projects-app .project-tile:hover .cover {
	/*opacity: 0.85;*/
}

.projects-app .project-tile .title {
	box-sizing: border-box;
	color: #232323;
	padding: 0.4rem;
	/*text-align: left;*/
	font-weight: bold;
	width: 100%;
	margin-top: 1.0rem;
	display: none;
}

.projects-app .project-viewer {
	margin: 0 auto;
	padding: 4rem 6rem 6rem;
	/*padding: 3rem 3rem 5rem 3rem;*/
	max-width: 60rem;
}

.projects-app .project-viewer .back-button {
	background-color: transparent;
	border: none;
	color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
	font-family: 'Open Sans';
	font-size: 2.0rem;
	padding: 0;
}

.projects-app .project-viewer .back-button:hover {
	color: rgba(0, 0, 0, 0.6);
}

.projects-app .project-viewer .back-button:focus {
	outline: none;
}

.projects-app .project-viewer .back-button ion-icon {
	position: relative;
	top: 0.2rem;
}

.projects-app .project {
}

.projects-app .project .screenshots {
	box-sizing: border-box;
	flex: 1 1 50%;
	list-style-type: none;
	margin: 0 auto;
	min-width: calc(30.0rem + 3.0rem);
	padding: 0 1.5rem 0 1.5rem;
}

.projects-app .project .screenshots img {
	border-radius: 0.2rem;
	border: 1px solid rgb(200, 200, 200);
	box-sizing: border-box;
	display: block;
	margin: 0 auto 3.0rem auto;
	max-width: 50.0rem;
	width: 100%;
}

.projects-app .project .screenshots img:hover {
	opacity: 0.8;
}

.projects-app .project .info {
	box-sizing: border-box;
	flex: 1 1 50%;
	padding: 0 1.5rem 0 1.5rem;
}

.projects-app .project h1 {
	color: rgb(64, 64, 64);
	font-size: 4.8rem;
	text-align: center;
	margin: 1rem 0 2rem;
}

.projects-app .project h2 {
	color: rgb(64, 64, 64);
	font-size: 2.4rem;
	margin: 2rem 0 1rem;
}

.projects-app .project h2:first-of-type {
	margin-top: 0.5rem;
}

.projects-app .project p {
	margin: 0 0 3.0rem 0;
}

.projects-app .project .links {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.projects-app .project .links a {
	color: rgb(155, 77, 202);
	display: block;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 0.5rem;
}

.projects-app .project .links a:hover {
	text-decoration: underline;
}
