.window {
	border-radius: 0.7rem; /* Needed for box shadow */
	box-shadow: 0 0 4.3rem rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	position: absolute;
	z-index: 0;
	transition: transform 0.2s ease, opacity 0.15s ease;
	pointer-events: all;
}

.window.focused {
	box-shadow: 0 0 4.3rem rgba(0, 0, 0, 0.5);
}

.window.maximized {
	border-radius: 0;
}

.window.maximized .title-bar,
.window.maximized .canvas {
	border: none;
	border-radius: 0;
}

.window.minimized {
	transform: scale(0.5);
	opacity: 0;
	pointer-events: none;
}

.title-bar {
	background-color: rgb(35, 35, 35);
	border-radius: 0.7rem 0.7rem 0 0;
	font-family: 'Open Sans';
	height: 3.2rem;
	overflow: hidden;
	position: relative;
	z-index: 100;
}

.title-bar .title {
	display: none; /* Disabled for now */
	color: white;
	cursor: default;
	line-height: 3.2rem;
	color: #eee;
	text-align: center;
}

.title-bar .control-buttons {
	align-items: center;
	margin-right: 0.7rem;
	display: flex;
	height: 3.2rem;
	position: absolute;
	right: 0;
	top: 0;
}

.title-bar .control-buttons button {
	background-color: transparent;
	border-radius: 50%;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	display: table-cell;
	margin-right: 0.6rem;
	padding: 0;
	vertical-align: middle;
	height: 1.7rem;
	width: 1.7rem;
}

.title-bar .control-buttons button::after {
	background-color: rgb(112, 112, 112);
	border-radius: inherit;
	border: 0.1rem solid rgb(148, 148, 148);
	box-sizing: border-box;
	content: '';
	display: inline-block;
	margin-top: 0.2rem;
	height: 1.3rem;
	width: 1.3rem;
}

.title-bar .control-buttons .minimize::after {
	background-color: rgb(76, 175, 80);
	border-color: rgb(56, 142, 60);
}

.title-bar .control-buttons .maximize::after {
	background-color: rgb(255, 235, 59);
	border-color: rgb(253, 216, 53);
}

.title-bar .control-buttons .close::after {
	background-color: rgb(229, 57, 53);
	border-color: rgb(198, 40, 40);
}

.canvas-outer {
	border: 0.1rem solid rgb(164, 164, 164);
	border-top: none;
	border-radius: 0 0 0.7rem 0.7rem;
	overflow: hidden;
	position: absolute;
	top: 3.2rem;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.canvas {
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*background-color: white;*/
	background-color: #e7e7e7;
}

.resize-handle-n,
.resize-handle-e,
.resize-handle-s,
.resize-handle-w {
	position: absolute;
	z-index: 200;
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-sw,
.resize-handle-nw {
	position: absolute;
	z-index: 201;
}

.resize-handle-n {
	cursor: ns-resize;
	height: 0.8rem;
	left: 0;
	top: -0.2rem;
	width: 100%;
}

.resize-handle-e {
	cursor: ew-resize;
	height: 100%;
	right: -0.2rem;
	top: 0;
	width: 0.8rem;
}

.resize-handle-s {
	bottom: -0.2rem;
	cursor: ns-resize;
	height: 0.8rem;
	left: 0;
	width: 100%;
}

.resize-handle-w {
	cursor: ew-resize;
	height: 100%;
	left: -0.2rem;
	top: 0;
	width: 0.8rem;
}

.resize-handle-ne {
	cursor: nesw-resize;
	height: 1.2rem;
	right: -0.2rem;
	top: -0.2rem;
	width: 1.2rem;
}

.resize-handle-se {
	bottom: -0.2rem;
	cursor: nwse-resize;
	height: 1.2rem;
	right: -0.2rem;
	width: 1.2rem;
}

.resize-handle-sw {
	bottom: -0.2rem;
	cursor: nesw-resize;
	height: 1.2rem;
	left: -0.2rem;
	width: 1.2rem;
}

.resize-handle-nw {
	cursor: nwse-resize;
	height: 1.2rem;
	left: -0.2rem;
	top: -0.2rem;
	width: 1.2rem;
}

.window.maximized .resize-handle-n,
.window.maximized .resize-handle-e,
.window.maximized .resize-handle-s,
.window.maximized .resize-handle-w,
.window.maximized .resize-handle-ne,
.window.maximized .resize-handle-se,
.window.maximized .resize-handle-sw,
.window.maximized .resize-handle-nw {
	display: none;
}
